go 1.23

use (
	./agent
	./baselibs/abstractions
	./baselibs/apiscall
	./baselibs/codes
	./baselibs/multifs
	./baselibs/testcommon
	./protocol
	./services/agentcentral
	./services/fileservicefe
	./services/integrationtest
)
